<% content_for :banner do %>
    <section id="hero">
        <%= image_tag "/images/contact/contact_hero.jpg" %>
    </section>

    <h1 class="title">Get in touch with us</h1>
<% end %>
<div class="row">
    <div class="hidden">
        <!--<paypal:button-->
        <!--itemName="riad_booking_${booking.customer.firstName}_${booking.customer.lastName}"-->
        <!--itemNumber="${booking.id}"-->
        <!--transactionId="${payment?.transId}"-->
        <!--amount="${payInFull == 'true' ? booking.total : booking.deposit}"-->
        <!--discountAmount="0"-->
        <!--buyerId="${booking.customer.id}"-->
        <!--currency="GBP"-->
        <!--returnController="reservation"-->
        <!--returnAction="success"-->
        <!--cancelController="reservation"-->
        <!--cancelAction="cancel"-->
        <!--/>-->
    </div>
    <p>You are about to get redirect to Paypal secure payment service. One moment please...</p>
    <script>
        $(function(){
            $('form').submit();
        });
    </script>
</div>