<% content_for :banner do %>
    <section id="hero">
        <%= image_tag "/images/riad_hero.jpg" %>
    </section>

    <h1 class="title">All the comfort of our rooms</h1>
<% end %>
<% @rooms.size %>
<%= render "room", :locals => { :rooms => @rooms } %>