<section id="hero">
    <img src="{{getVersionedPath "/images/contact/contact_hero.jpg"}}" />
</section>

<h1 class="title">Get in touch with us</h1>

<div class="main_container">
    <div class="row">
        <div class="span8">
            Contact us for booking information and availability at <a href="mailto:riadyamina.reservation@gmail.com">riadyamina.reservation@gmail.com</a>. Make sure to provide <a href="/rooms">room details</a> and guests information.
        </div>
        <div class="span4">
            <div>
                <img src="{{getVersionedPath "/images/logo.png"}}" />
                <address>
                    52. Derb Jamaa,<br/>
                    Dabachi Medina, Marrakech, Morocco<br/>
                    <abbr title="Telephone">Tel</abbr> +212 666-528696<br/>
                    <a href="mailto:riadyamina.reservation@gmail.com">riadyamina.reservation@gmail.com</a>
                </address>
            </div>
            <div>
                <h6>To get to the Riad Yamina</h6>

                <p>From the main square of Jemaa el Fena it is approximately a 5minute walk. When you arrive at the square
                    ask around for directions to Café de France, which is located opposite the distinctive Kharbouche
                    mosque. Keeping the Café on your right, exit the square and you will emerge onto the road called Derb
                    Dabachi a busy road flanked with shops and cafes. Count three right turnings and take the third which
                    will then put you on Derb Jamaá, a narrow road with high buildings to either side. Continue down the
                    road and follow it through to your left then straight ahead in less than a minute you will see a large
                    wooden door that is facing you. (52 Riad Yamina).</p>
            </div>
        </div>
    </div>
</div>
