<section id="hero">
    <img src="{{getVersionedPath "/images/riad_hero.jpg"}}" />
</section>

<h1 class="title">A warm welcome</h1>

<div class="main_container">
  <div class="row">
      <div class="span8">
          <div class="column2">
              <p>Welcome to my lovely home, which has been lovingly restored over the past five years using traditional sourced materials and ancient building techniques. Furnishings have been carefully chosen to reflect the local craftsmanship in woodwork, metal and glass giving the riad a strong sense of history whilst creating a cozy comfortable and individual atmosphere for friends, family and travellers.</p>
              <p>Riad Yamina is a traditional Moroccan house spread over three floors and built around an open central courtyard. The main courtyard with its eating area, salon and two guest suites provides a tranquil spot for a moment of reflection by the pool with a glass of mint tea. The beautifully curved black and white tiled stairs takes you on a journey of discovery to the first floor where you will find the library with its open fire and four more wonderfully designed and decorated suites including one with its own Juliette balcony. The journey continues upward to the third and final floor, which is adorned with a beautiful ornately carved cupola, leading you to the roof terrace and the exquisitely designed Meyer suite enclosed within its own sun bathed private balcony.</p>
              <p>The Riad offers seven very comfortable guest rooms of different sizes, all with air-conditioning/heating and with their own private ensuite bathrooms.  The Riad can easily accommodate up to 22 people at any one time and is available as a single rental, catered or un-catered, price on application.</p>
          </div>
      </div>
      <div class="span4">
          <img src="{{getVersionedPath "/images/door.jpg"}}" />
        </div>
  </div>
</div>
