<section id="hero">
    <img src="{{getVersionedPath "/images/riad_hero.jpg"}}" />
</section>

<h1 class="title">How can we help</h1>

<div class="main_container">
    <div class="row">
        <div class="span8">
            <div class="column2">
                <h6>Inclusive services</h6>
                <p>Breakfast, Egyptian cotton bedding, comfortable seating area, Wifi connection, Security safe, Mint tea and coffee as requested.</p>
                <dl>
                    <dt>Extra services</dt>
                    <dd>Lunch 2 courses for £10 per person for, children under 6 years £5</dd>
                    <dd>Dinner 3 courses £20 per person, children under 6 years £10</dd>
                    <dd>In-house massage in the comfort of your own room £25</dd>
                    <dd>Tranfer to and from Marrakech airport £13/ €17each way.</dd>
                    <dd>Laundry service</dd>
                    <dd>Babysitting  £25/ €35</dd>
                    <dd>Car Hire</dd>
                    <dd>Excursions</dd>
                </dl>
                <h6>We also offer Moroccan cookery lessons</h6>
                <p>Up until recently Yamina ran a highly successful Moroccan restaurant in London and is available for tailored cookery programmes from the kitchen at the riad. Visitors will be offered the opportunity to shop with Yamina for local ingredients in the vibrant food markets.</p>
                <p>As part of your stay with us why not make a visit to a luxurious Hammam and Spa just 3 minutes walk away from the riad.  The Hammam is a traditional Moroccan steam room where women and men go for a ritual-based body treatment that includes aromatherapy, detoxification, steam, massage, and relaxation. To de-stress and detox, there is no better way than to visit a traditional Moroccan steam bath and have a deeply relaxing treatment.  If you would like to visit the Hammam, we can arrange this for you.</p>
                <p>Or why not walk to the Majorelle Garden, an enchanting location, at the heart of the red city. It is one of the most visited places in Morocco.</p>
                <p>Or if you’re looking for the nearest coast, maybe arrange a day out to the realxing blue city, Essaouira.</p>
            </div>
        </div>
        <div class="span4">
            <img src="{{getVersionedPath "/images/services-1.jpg"}}" />
        </div>
    </div>
</div>
