<section id="hero">
    <img src="{{getVersionedPath "/images/riad_hero.jpg"}}" />
</section>

<h1 class="title">Terms and conditions</h1>

<div class="main_container">
    <div class="row">
        <div class="span12">
            <div>
                <p>Thank you for choosing to book with us at Riad Yamina. We look forward to welcoming you to the riad.</p>
                <p>Please note that when you make your booking you are entering a formal agreement with us. Please make sure to read our terms and conditions of booking below.</p>
                <h5>Rates:</h5>
                <p>The prices for all suites include accommodation and a complimentary breakfast. The standard tariff for all suites is based only on a single or double occupancy basis. For any supplementary services please refer to our <a href="/services">extra services section</a>.</p>
                <h5>Children:</h5>
                <p>Children under the age of six stay free of charge, a cot can be provided on availability. An extra bed can be provided at a cost of £30. Unless clearly stated on the booking form all additional services are at a supplementary charge.</p>
                <p>Please note that there is a pool, which is not supervised, so responsibility for your children are with you at all times whilst staying at the riad.</p>
                <h5>Reservation policy:</h5>
                <p>A 30% deposit of the total reservation sum is required at the time of making a booking.</p>
                <p>We accept the following methods of payment when booking or settling your balance prior to arrival: bank transfer or PayPal.</p>
                <h5>Settling your balance on arrival:</h5>
                <p>Payment methods: Travellers cheques, cash, pound sterling, Euros and Moroccan dirhams. Please note at present we do not accept debit or Credit cards.</p>
                <h5>Cancellation policy</h5>
                <p>If you cancel your booking less than 28 days before your arrival date, you will lose your 30% deposit.</p>
                <p>For reservation of the entire Riad a deposit of 70% of the total cost is payable on booking. In the event of a cancellation of your booking less than 90 days before your arrival date, your deposit is non-refundable.</p>
                <p>We recommend that you take out insurance against cancellation  due to unforeseen circumstances.</p>
                <h5>Pets:</h5>
                <p>Unfortunately pets are not permitted at the Riad.</p>
                <h5>Damages and Breakages:</h5>
                <p>We would like to ask you to please take care of the riad as you are responsible and liable for any breakages or damages caused by you to the accommodation or its contents. Please report these as soon as they occur. If the damage or breakage is significant, then we may make an additional charge of £50 especially if you fail to report it.</p>
                <h5>Liability:</h5>
                <p>We do not accept any liability for any damage, loss or injury to any member of your party.</p>
                House rules:
                <ul>
                    <li>Check-in:  Rooms available from 2pm, guests arriving earlier can use the following facilities: pool, sun terrace and lounger, library, salon, Wi-Fi Internet connection.</li>
                    <li>Checkout: Rooms to be vacated by 12pm on the day of departure, with arrangements made for luggage storage if required.  If you have a late flight, then you are welcomed to make use of the salon, pool, terrace or the library until your departure. </li>
                    <li>Guests: Please check with the housekeeper before inviting guests back to your room</li>
                    <li>Smoking:  Is permitted on the terrace or on the courtyard.  For reasons of safety, there is a strict no smoking policy in the bedroom suites.</li>
                </ul>
            </div>
        </div>
    </div>
</div>
